<nav class="navbar bg-primary">
    <div class="container-fluid flex-row">
        <div class="navbar-brand">
              <img src="https://w7.pngwing.com/pngs/783/513/png-transparent-computer-icons-form-organization-internet-email-ticket-miscellaneous-text-service.png" alt="" width="50" height="50">
        </div>

        <form class="d-flex align-self-center" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>

        <div class="d-flex align-self-end">
            <h1>asdsad</h1>
        </div>
    </div>
</nav>