<div class="side_navigation_partial">
    <aside>
        <div class="side_navigation_links">
            <ul>
                <li>Home</li>
                <li>Respondents</li>
                <li>Analytics</li>
            </ul>
        </div>
    </aside>
</div>