nav.form_header{
    color: #fff;
    background-color: var(--primary_hue);
    max-height: 70px !important;
    align-items: center;
    *{
        padding: 0px;
    }
    button:focus, button:hover {
        background: #0d6efd !important;
        outline: none !important;
        border: none !important;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-appearance: none;
    }
    div.dropdown-menu{
        right: 0;
        left: auto;
    }
    img{
        width: 60px;
    };
}

div.side_navigation_partial {
    display: inline-block;
    max-width: 210px !important;
    width: 20%;
    height: 100%;
    background: var(--secondary_hue);
    aside{
        /* TODO: add aside vavigation edits here*/
    }
}

div.content_area{
    height: 100vh;
    display: flex;
}