<%# TODO: refactor codes where questions is dynamic %>
<div class="form_question_area" data-question_id="<%= form_question["form_question_id"] %>">
    <div class="form_question_settings">
        <input type="text" name="question" placeholder="Unntitled question" class="form_question_title" value="<%= form_question["question_title"] %>" />

        <select class="form-select" class="form_question_type">
            <option selected>Multiple Choice</option>
            <option>Paragraph</option>
            <option>Checkbox</option>
            <option>Dropdown</option>
        </select>
    </div>
    <div class="option_list">
        <input type="text" name="options[]" placeholder="Option" class="options" />
        <input type="text" name="options[]" placeholder="Option" class="options" />
        <input type="text" name="options[]" placeholder="Option" class="options" />
    </div>
</div>