<%# TODO: refactor codes where questions is dynamic %>
<div class="form_question_area" data-question_id="<%= form_question["form_question_id"] %>">
    <div class="form_question_settings">
        <input type="text" name="question" placeholder="Unntitled question" class="form_question_title" value="<%= form_question["question_title"] %>" />

        <select class="form-select" class="form_question_type">
            <option>Multiple Choice</option>
            <option selected>Paragraph</option>
            <%# TODO: comment out for not
            <option>Checkbox</option>
            <option>Dropdown</option> %>
        </select>
    </div>
    <div class="option_list">
        <input type="text" name="paragraph_text" placeholder="paragraph_text" disabled="disabled" />
    </div>
</div>