.forms_navigation{
    display: flex;
    width: 100%;
    outline: 1px solid black; /* Clear later*/
    height: 40px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    p:hover{
        cursor: pointer;
    }
}

section.content_section{
    div.form_question_area, div.form_title_area{
        display: block;
        margin-bottom: 20px;
    }
        div.form_question_area{
            background-color: var(--secondary_background_hue);
            div.form_question_settings{
                display: flex;
            }
        }
    div.form_section{
        width: 100%;
        outline: 1px solid black; /* Clear later*/
        margin-top: 20px;
        padding: 10px;
    }

    button.add_question_trigger{
        width: 100%;
    }
}