<input type="text" placeholder="Search" id="search_text_box">

<form action="/forms/get_forms" method="POST" data-is_processing="0" id="get_all_forms">
    <input type="hidden" name="auuthenticity_token" value="<%= form_authenticity_token %>" />
</form>